<div class="d-flex flex-column w-100" style="background-color: darkgray;">
    <div class="d-flex justify-content-center mt-1 pt-1">

    </div>
    <div class="d-flex justify-content-center">

    </div>
    <div class="d-flex flex-wrap justify-content-center">
        <a href="/privacy" class="btn btn-primary m-1">privacy</a>
        <a href="/terms" class="btn btn-primary m-1">terms</a>
    </div>
    <div class="d-flex justify-content-center mb-1 pb-1">
        
    </div>
</div>
